@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-gray: #303030;
    --font-ral: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ul {
    list-style: none;
}

.section-title {
    font-family: var(--font-ral);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.1666;
    letter-spacing: 0.05em;
}

.section-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 0.2em;
    color: #555555;
}

.header a {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header {
    background-color: #000;
}

.header-links {
    /*text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;*/
    list-style: none;
}

.header-nav-link {
    /*text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;*/
    color: #ffffff;
}

.header-hover:hover,
.header-hover:focus {
    color: #FF6C00;
}

.header-contact {
    text-transform: uppercase;
    color: #ffffff;
}

.btn-booking {
    background: none;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.btn-booking:hover,
.btn-booking:focus {
    color: #FF6C00;
}

.uptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3618;
    text-transform: uppercase;
    color: var(--color-gray);
}

.hero {
    background-image: url(../images/Sliderimg3.jpg);
}

.hero-uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: var(--font-ral);
    font-size: 72px;
    line-height: 1.1805;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.hero-subtitle {
    color: #9DA4BD;
}

.side-link {
    font-size: 11px;
    line-height: 1.3618;
    text-decoration: none;
    color: #303030;
}

.side-link:hover,
.side-link:focus {
    color: #FF6C00;
}

.slider-button {
    background: none;
    border: none;
    text-decoration: underline #000;
    font-size: 11px;
    line-height: 1.3618;
    color: #FFFFFF;
}

.slider-button:hover,
.slider-button:focus {
    color: #9DA4BD99;
}

.button-back {
    text-align: left;
}

.button-forward {
    text-align: right;
}

.best-barbershop-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;
    color: #555555;
}

.best-barbershop-btn {
    color: var(--color-gray);
}

.best-subtitle {
    font-size: 14px;
    line-height: 1.8571;
}

.table-subtitle {
    color: #9DA4BD99;
}

.table-title {
    color: #ffffff;
}

.table {
    background-image: linear-gradient(#171A24 100%, #171A2433 20%);
    color: #9DA4BD;
    width: 570px;
}

.table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage-title {
    line-height: 1.3619;
    text-align: center;
}

.advantage-title::after {
    content: "+";
    color: #FF6C00;
    position: relative;
    top: -20px;
    font-size: 16px;
}

.advantage-list li p {
    font-size: 11px;
    line-height: 1.3636;
    text-align: center;
    color: var(--color-gray);
}

.barbers-uptitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3616;
    text-align: center;
}

.barbers-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3621;
    text-align: center;
    color: #FF6C00;
}

.booking-title {
    color: #FFFFFF;
}

.form-button {
    background: none;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    color: #ffffff;
}

.address-uptitle {
    color: #FFFFFF;
}

.address-subtitle {
    font-weight: 700;
    color: #9DA4BD;
}

.booking-subtitle {
    color: #9DA4BD;
    letter-spacing: 0;
}

.address-link {
    font-weight: 400;
    font-size: 18;
    line-height: 1.6666;
    color: #9DA4BD;
}

.num-link {
    text-decoration: none;
}

.copyright {
    color: #9DA4BD;
}

.footer-links {
    text-decoration: none;
}